name: PHP Scan
on:  
  workflow_dispatch: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
 

jobs:
  security:
    runs-on: ubuntu-latest
    permissions:
      contents: read          # Required to checkout and read repo files
      security-events: write  # Required to upload SARIF files to Security tab
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run OpenGrep scan
        uses: maloma7/opengrep-action@v1
        with:
          paths: 'src app lib'
          output-format: 'sarif'
          severity: 'ERROR'
          output-file: 'opengrep-results.sarif'

      - name: Upload OpenGrep scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: 'opengrep-results.sarif'
